<h1><%= @post.title %></h1>
<h2>Content</h2>
<p><%= @post.content %></p>
<h3>Categories</h3>
<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
<h3>Comments</h3>
<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.user.username %> says: <%= comment.content %></li>
  <% end %>
</ul>
<h3>Commenters</h3>
<ul>
<% @post.users.uniq.each do |user| %>
<li><%= link_to  user.username, user_path(user) %></li>
<% end %>
</ul>

<h4>Comment on This Post</h4>

<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id %>
  <p>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </p>

  <%= f.fields_for :user, User.new do |user_fields| %>
    <%= user_fields.label :username %>
    <%= user_fields.text_field :username %>
  <% end %>

    <p>
    <%= f.label :content, "Comment" %>
    <%= f.text_field :content %>
    </p><br>
  
  <%= f.submit %>
<% end %>

